@using YuSheng.OrchardCore.ReCaptcha.SixLabors.ViewModels
@using YuSheng.OrchardCore.ReCaptcha.SixLabors.Drivers
@model SixLaborsCaptchaSettingsViewModel

@{
    var settingsUrl = Url.Action("Index", "Admin", new { area = "OrchardCore.Settings", groupId = SixLaborsCaptchaSettingsDisplayDriver.GroupId });
    var hyperLinkAttributes = $"class=alert-link target=_blank href={settingsUrl}";
    var successMessage = T["<a {0}>SixLaborsCaptcha settings</a> are configured.", hyperLinkAttributes];
    var warningMessage = T["<a {0}>SixLaborsCaptcha settings</a> are not configured. The captcha will not be displayed.", hyperLinkAttributes];
}

@{
    if (Model.SettingsAreConfigured)
    {
        <div class="alert alert-success">
            @successMessage
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            @warningMessage
        </div>
    }
}
