@using YuSheng.OrchardCore.ReCaptcha.SixLabors.ViewModels
@model SixLaborsCaptchaPartViewModel
@if (Model.SettingsAreConfigured)
{
    <img src="@Model.CaptchaImgBase64" />
}
else
{
    <div class="alert alert-warning">@T["SixLaborsCaptcha settings are not configured."]</div>
}
